<div class="jumbotron login-form-block" style="background:transparent !important; border:1px solid rgba(255,255,255,0.2);">
    <div *ngIf="!flagShowSignUpScreen">
        <div class="form-group">
            <label for="exampleInputEmail0">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail0" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="emailAddress">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword0">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword0" placeholder="Password" [(ngModel)]="password">
        </div>
    </div>
    <div *ngIf="flagShowSignUpScreen">
        <div class="form-group">
            <label for="exampleInputEmail1">New Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="emailAddress">
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1">New Username</label>
            <input type="email" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Enter username" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
        </div>
    </div>
    <button class="btn btn-primary login-button" (click)="validateLoginInput()" *ngIf="!flagShowSignUpScreen">Login</button>
    <button class="btn btn-success login-signup-button" (click)="showSignUpScreen()" *ngIf="!flagShowSignUpScreen">Sign Up</button>
    <button class="btn btn-success login-signup-button" (click)="signUpUser()" *ngIf="flagShowSignUpScreen">Sign Up and Login</button>
</div>
