.recipe-list-container{
    margin-top: 8%;
    display: inline-block;
}
.recipe-list{
    max-height: 485px;
    overflow-y: scroll;
    width: 80%;
}
.recipe-list::-webkit-scrollbar{ 
    width :6px; 
}