.recipe-detail-block{
    margin-top: 2%;
    margin-left: 10%;
    border-left: 1px solid rgba(255,255,255,0.2);
    width: 90%;
    float: right;
}
.example-card {
    width: 70%;
    border-radius: 25px;
    background-color: #303030;
    border:1px solid rgba(255,255,255,0.2);
    margin-left: 10%;
}

.example-header-image {
}
.card-image{
    height: 400px !important;
}