<mat-vertical-stepper #stepper>
    <mat-step [stepControl]="recipeNameFormGroup" errorMessage="Name is required.">
      <form [formGroup]="recipeNameFormGroup">
        <ng-template matStepLabel>Fill out recipe name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Recipe Name" formControlName="recipeName" required>
        </mat-form-field>
        <div>
          <!-- <p>Go to a different step to see the error state</p> -->
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="recipeDescriptionFormGroup" errorMessage="Description is required.">
      <form [formGroup]="recipeDescriptionFormGroup">
        <ng-template matStepLabel>Fill out recipe description</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="recipeDescription"
                 required>
        </mat-form-field>
        <div>
          <!-- <p>Go to a different step to see the error state</p> -->
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-vertical-stepper>