<mat-sidenav-container class="layout">
  <mat-sidenav class="sidenav-class" #drawer mode="over">
    <mat-nav-list role="navigation" disableRipple="true">
      <div mat-subheader>Go To</div>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/recipebook" disableRipple="true" (click)="drawer.toggle()">
          <mat-icon matListIcon class="sidenav-icon">menu_book</mat-icon> <span class="nav-caption">Recipe Book</span>
      </a>
      <a mat-list-item routerLink="/shoppinglist" disableRipple="true" (click)="drawer.toggle()">
          <mat-icon matListIcon class="sidenav-icon">list</mat-icon><span class="nav-caption">Shopping List</span>
      </a>
      <a mat-list-item routerLink="/newrecipe" disableRipple="true" (click)="drawer.toggle()">
          <mat-icon matListIcon class="sidenav-icon">list</mat-icon><span class="nav-caption">New Recipe</span>
      </a>
      <mat-list-item (click)="drawer.toggle()">
          <span class="nav-caption">Close</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="toggleSidenav()"></app-header>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>