<div class="navigation">
    <mat-sidenav-container>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="toggleSidenav()"></app-header>
        </mat-sidenav-content>
        <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <div mat-subheader>Go To</div>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/recipeBook">
                <mat-icon class="recipe-book-icon">menu_book</mat-icon> <span class="nav-caption">Recipe Book</span>
            </a>
            <a mat-list-item routerLink="/shoppingList" >
                <mat-icon class="shopping-list-icon">list</mat-icon><span class="nav-caption">Shopping List</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    </mat-sidenav-container>
</div>